<!DOCTYPE html>
<html>
  <head>
    <title>Geek University</title>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="thank-you-div">
      <%- if notice %>
          <p><%= notice %></p>
      <%- end %>
    </div>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
