<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Geek University</title>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="content">
      <div class="content-inner">
        <div id="thank-you-div">
          <%- if notice %>
              <p><%= notice %></p>
          <%- end %>
        </div>

        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
